@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-light: var(--c-light);
  --color-primary-deep: var(--c-deep);
  --color-primary-deeper: var(--c-deeper);
}

:root {
  --c-bg: #fff;
  --c-scrollbar: #eee;

  --c-light: #888;
  --c: #555;
  --c-deep: #222;
  --c-deeper: #000;
}

:root.dark {
  --c-bg: #0e0e0e;
  --c-scrollbar: #111;

  --c-light: #888;
  --c: #bbb;
  --c-deep: #ddd;
  --c-deeper: #fff;
}

html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito Sans', "Helvetica Neue", Helvetica, Arial, 'Noto Sans SC', sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  background-color: var(--c-bg);
  color: var(--c);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

::selection {
  background: #8884;
}

a {
  @apply font-medium hover:text-blue-500
  underline underline-offset-[5px]
  decoration-dashed decoration-1 decoration-zinc-500/50 hover:decoration-blue-500
}

.card {
  @apply py-4 lg:py-[2em]
}

.content {
  @apply mx-auto flex max-w-[50em] flex-col gap-6;
}
